<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.persistence.AdminInquiryDAO">

  <!-- 전체 문의글 등록일자 기준 내림차순  -->
  <select id="getAllInquiries" resultType="com.itwillbs.domain.InquiryVO">
    SELECT * FROM inquiry ORDER BY created_at DESC
  </select>

  <!-- 답변 내용 조회 -->
  <select id="getResponse" resultType="com.itwillbs.domain.ResponseVO">
    SELECT * FROM response WHERE inquiry_id = #{inquiry_id}
  </select>

  <!-- 답변 작성 시 답변 테이블에 INSERT -->
  <insert id="insertResponse">
    INSERT INTO response (inquiry_id, ad_id, response_content, created_at)
    VALUES (#{inquiry_id}, #{ad_id}, #{response_content}, #{created_at})
  </insert>
  
  <update id="updateInquiryStatus">
	  UPDATE inquiry
	  SET status = '답변완료'
	  WHERE inquiry_id = #{inquiry_id}
  </update>
  
  <!-- 관리자 답변 수정 -->
  <update id="updateResponse">
    UPDATE response
    SET response_content = #{response_content}
    WHERE response_id = #{response_id}
  </update>

  <!-- 관리자 답변 삭제  -->
  <delete id="deleteResponse">
    DELETE FROM response WHERE response_id = #{response_id}
  </delete>
  
  <!-- 답변삭제시 처리상태 '접수' -->
  <update id="resetInquiryStatus">
	  UPDATE inquiry
	  SET status = '접수'
	  WHERE inquiry_id = #{inquiry_id}
  </update>
  
  
  <!-- 처리일자 저장 쿼리 -->
  <update id="setInquiryProcessedAt">
	  UPDATE inquiry
	  SET processed_at = #{created_at}
	  WHERE inquiry_id = #{inquiry_id}
  </update>
  
  
  
  
  <!-- 처리일자 초기화 쿼리 -->
  <update id="resetInquiryProcessedAt">
	  UPDATE inquiry
	  SET processed_at = NULL
	  WHERE inquiry_id = #{inquiry_id}
  </update>
  

	
	<!-- 페이징 처리 -->
	<select id="getInquiryList" resultType="com.itwillbs.domain.InquiryVO">
    	SELECT 
		    i.inquiry_id,
		    m.member_id,
		    i.category,
		    i.title,
		    i.status,
		    i.created_at,
		    i.processed_at, 
		    r.ad_id AS ad_id,  
		    r.created_at AS response_created_at
	   FROM inquiry i
	   JOIN member m ON i.member_idx = m.member_idx
	   LEFT JOIN response r ON i.inquiry_id = r.inquiry_id
	   <where>
	    <!-- 분류 필터 -->
	    <if test="category != null and category != ''">
	      i.category = #{category}
	    </if>
	    <if test="status != null and status != ''">
          AND i.status = #{status}
        </if>
	    <!-- 키워드(제목 + 회원ID) -->
	    <if test="keyword != null and keyword != ''">
	      <if test="category != null and category != ''">AND</if>
	      (i.title LIKE CONCAT('%', #{keyword}, '%')
	       OR m.member_id LIKE CONCAT('%', #{keyword}, '%'))
	    </if>
 	   </where>
	   ORDER BY 
  	  	 CASE i.status 
   		 WHEN '접수' THEN 0 
   		 WHEN '보류' THEN 1 
   		 WHEN '답변완료' THEN 2 
   		 ELSE 3
  	   END,
 	   i.inquiry_id DESC
	   LIMIT #{startRow}, #{pageSize}
	 </select>

	 <!-- 페이징 처리를 위한 전체 문의 수 조회 (검색 포함) -->
	  <select id="getInquiryCount" resultType="int">
	  	 SELECT COUNT(*)
	 	 FROM inquiry i
	 	 JOIN member m ON i.member_idx = m.member_idx
	 	 <where>
	 	   <if test="category != null and category != ''">
		      i.category = #{category}
		    </if>
		    <if test="keyword != null and keyword != ''">
		      <if test="category != null and category != ''">AND</if>
		      (i.title LIKE CONCAT('%', #{keyword}, '%')
		       OR m.member_id LIKE CONCAT('%', #{keyword}, '%'))
		  </if>
		 </where>
	  </select>
	  
	  
	 <!-- 문의 내역에 아이디 조회 해결 -->   <!-- 문의 상세보기용 -->
	 <resultMap id="InquiryWithMemberId" type="com.itwillbs.domain.InquiryVO">
		  <id property="inquiry_id" column="inquiry_id"/>
		  <result property="member_idx" column="member_idx"/>
		  <result property="member_id" column="member_id"/>
		  <result property="category" column="category"/>
		  <result property="title" column="title"/>
		  <result property="content" column="content"/>
		  <result property="status" column="status"/>
		  <result property="created_at" column="created_at"/>
		  <result property="processed_at" column="processed_at"/>
		  <result property="ad_id" column="ad_id"/>
  		  <result property="response_created_at" column="response_created_at"/>
		</resultMap>
		
	<select id="getInquiry" resultMap="InquiryWithMemberId">
	  SELECT 
	    i.inquiry_id,
	    i.member_idx,
	    i.category,
	    i.title,
	    i.content,
	    i.status,
	    i.created_at,
	    i.processed_at,
	    m.member_id AS member_id,
	    r.ad_id AS ad_id,  
    	r.created_at AS response_created_at 
	  FROM inquiry i
	  JOIN member m ON i.member_idx = m.member_idx
	  LEFT JOIN response r ON i.inquiry_id = r.inquiry_id
	  WHERE i.inquiry_id = #{inquiry_id}
	  </select>
		  
		  
	 	<select id="getUncheckedInquiryCount" resultType="int">
		    SELECT COUNT(*) FROM inquiry
		    WHERE status = '접수'
		</select>
	 	  
		  
		  
		  
		  
	  

</mapper>
  