<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.persistence.CategoryDAO">

    <!-- 카테고리 전체 조회 -->
    <select id="getCategoryList" resultType="com.itwillbs.domain.CategoryVO">
        SELECT 
            category_id,
            category_name_ko,
            category_name_en
        FROM category
    </select>
    
    <!-- 🔸 회원의 관심 카테고리 이름 목록 -->
	<select id="getSelectedCategories" resultType="com.itwillbs.domain.CategoryVO">
  SELECT c.*
  FROM category c
  JOIN member_category mc ON c.category_id = mc.category_id
  WHERE mc.member_idx = #{member_idx}
</select>

</mapper>