<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.persistence.MainDAO">

    <select id="getBookList" resultType="com.itwillbs.domain.BookVO">
        SELECT
          b.book_id,
          b.book_title,
          b.cover_image,
          b.author_name,
          b.book_price,        
         COALESCE(r.avgRating,  0) AS avgRating
          FROM book b
        
        
        
           <!--평균 평점(averageRating)  집계 -->

     LEFT JOIN (
      SELECT book_id, AVG(review_score) AS avgRating
      FROM review
      GROUP BY book_id
    ) r ON b.book_id = r.book_id
        ORDER BY b.created_at DESC
        
        <if test="limit != null">
          LIMIT #{limit}
        </if>
        
        
    </select>
    
    
    <select id="selectNewBookList" resultType="com.itwillbs.domain.BookVO">
        SELECT
            b.book_id,
            b.book_title,
            b.cover_image,
            b.author_name,
            b.book_price
        FROM
            book b
        ORDER BY
            b.created_at DESC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
        
    </select>
    
    <select id="selectBestSellerList" resultType="com.itwillbs.domain.BookVO">
        SELECT
          b.book_id,
          b.book_title,
          b.cover_image,
          b.author_name,
          b.book_price,
         COALESCE(s.totalSales, 0) AS totalSales         
          FROM book b
          
        
        
        <!--판매량(salesCount) 집계 -->
           LEFT JOIN (
      SELECT book_id, SUM(quantity) AS totalSales
      FROM orderitem
      GROUP BY book_id
    ) s ON b.book_id = s.book_id
<if test="limit != null">
            LIMIT #{limit}
        </if>
        
        
        
        
        
    </select>
    
    
    <!-- 도서검색하기 -->
    
    <select id="searchBooksByKeyword" resultType="com.itwillbs.domain.BookVO">
       SELECT * FROM book  
    WHERE
        book_title LIKE CONCAT('%', #{keyword}, '%')
        OR author_name LIKE CONCAT('%', #{keyword}, '%')
        OR publisher LIKE CONCAT('%', #{keyword}, '%')
    ORDER BY
                created_at DESC
    </select>
    
    
    
    <!-- 도서추천하기 -->
    <select id="selectRecommendedBooks" parameterType="com.itwillbs.domain.BookVO" resultType="com.itwillbs.domain.BookVO">
       SELECT * FROM book  
    WHERE
        book_title LIKE CONCAT('%', #{keyword}, '%')
        OR author_name LIKE CONCAT('%', #{keyword}, '%')
        OR publisher LIKE CONCAT('%', #{keyword}, '%')
    ORDER BY
        created_at DESC
   
</select>
    
    
    
    
    
    
    
    
</mapper>